.content-admin-lesson{
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;

  h1{
    color: var(--text-primary);
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .module-form-default{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  
    input{
      width: 30rem;
      height: 2rem; 
      margin-right: 0.25rem;
      padding-left: 0.5rem;

      &:nth-child(3){
        width: 11rem;
      }
    
    }
      
    button{
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid var(--text-primary);
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      background: var(--module);
      color: var(--text-primary);
      

      transition: filter 0.2s;

      &:hover{
        filter: brightness(0.9);
      }

      & + button{
        margin-left: 0.25rem;
      }
    }
  }
  
  .lessons-table{
    
    th{
      background: var(--module-selected);
      color: var(--text-primary);
      padding: 0.25rem;
      font-weight: 500;
    }
  
    td{
      background: var(--module);
      color: var(--text-primary);
      padding: 0.25rem 0;
      text-align: center;

      &:first-child{
        width: 8rem;
      }



      &:nth-child(2){
        width: 15rem;
      }
  
      button{
        border: 0;
        width: 100%;
        background: transparent;
      }
    }
    
  }

  h2{
    margin-top: 2rem;
    color: var(--text-primary);
    font-weight: 400;
    font-size: 1.25rem;
  }
  
}